.app-wrapper {
  width: 60%;
  height: 80%;
  background-color: var(--app-color);
  border-radius: 20px;
}

@media (max-width: 500px) {
  .app-wrapper {
    width: 80%;
  }
}

.app-inner {
  font-size: 1rem;
  padding: 10px 20px;
}

.input-wrapper {
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 2px solid var(--border-color);
}

.tasks-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
}

.tasks-buttons {
  display: flex;
  gap: 10px;
}

.app-button {
  border: none;
  background-color: transparent;
}

.add-button {
  display: flex;
  align-items: center;
}

.app-button .svg {
  pointer-events: none;
}

.tasks-done .tasks-item {
  text-decoration: line-through;
}
